In [62]:
print("Shahzaib Raja")

Shahzaib Raja

From Here i Start Code

In [63]:
if 52>20:
    print("This is Correct Statement")
else:    
    print("This is not a Correct Statement")

This is Correct Statement

In [64]:
x = 53
print(x)

53

In [65]:
# This is Just a Paractise Statement
x*x*x*x*x*x

22164361129

In [66]:
print(x)
x = "Abdul Rafay Ather"
print(x)

53
Abdul Rafay Ather

In [67]:
x = str(3)
y = int(4)
z = float(54)
print(x)
print(y)
print(z)

3
4
54.0

In [68]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [69]:
print('Water is the Best Source')

Water is the Best Source

In [70]:
i_am_physics = 37
print('i_am_physics')

i_am_physics

In [71]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [72]:
fruits = ["orange","Twitter","English"]
# x,y,z = fruits
print(fruits)
# print(y)
# print(z)

['orange', 'Twitter', 'English']

In [73]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [74]:
x = "Python"
y = "is"
z = "awesome"
print(x+y+z)

Pythonisawesome

In [75]:
x = "523"
y = "35"
print(x,y)

523 35

In [76]:
extra = "Shahzaib Raja"
def my_func():
    print("He is "+ extra)

my_func()

He is Shahzaib Raja

In [77]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [78]:
W = "awesome"

def myfunc():
  global z
  z = "fantastic"

myfunc()

print("Python is " + z)

Python is fantastic

In [79]:
x = frozenset({"apple", "banana", "cherry"})
l = []
a= "king"
l.append(x)

print(x)

frozenset({'cherry', 'apple', 'banana'})

In [80]:
x = frozenset({"Ali","Arshad","Naveed"})

print(type(x))

<class 'frozenset'>

In [81]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print (type(z))

<class 'complex'>

In [82]:
x = 53
y = complex(x)
print(type(x))
print(type(y))

<class 'int'>
<class 'complex'>

Random Number Generator

In [83]:
import random
print(random.randrange(1,10))

7

In [84]:
y = str("056shahzaib3442")
print(y)

056shahzaib3442

In [85]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [86]:
a = "This is a Master Class"
print(a[13])

t

In [87]:
for x in "bananas":
    print(x)

b
a
n
a
n
a
s

In [88]:
x = "Muhammad Shahaeer"
print(len(x))

17

In [89]:
xxx = "Muhammad Shahaeer"
print("Shah" in xxx)

True

In [90]:
txt = "The best things in life are free!"
if "frvee" in txt:
  print("Yes, 'free' is present.")
else:
    print("error")

error

In [91]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [92]:
x = "Muhammad Shahaeer"
print(x[2:8])

hammad

In [93]:
x = "Muhammad Shahaeer"
print(x[-10:-5])

d Sha

In [94]:
a = "Donkey Raja!"
print(a.lower())

donkey raja!

In [95]:
a = "Donkey Raja! is the KING"
print(a.strip())

Donkey Raja! is the KING

In [96]:
a = "Donkey Raja! is the KING"
print(a.replace("Raja","Malik"))

Donkey Malik! is the KING

In [97]:
a = "Donkey$Raja!$ is$ the$ KING$"
print(a.split("$"))

['Donkey', 'Raja!', ' is', ' the', ' KING', '']

In [98]:
x = "Muhammad"
y = "ZAIBI"

print(x," ",y)

Muhammad   ZAIBI

In [99]:
f  = 19
txt = "Shahzaib Age is " + str(f)
print(txt)

Shahzaib Age is 19

In [100]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [101]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [102]:
price = 59
txt = f"The price is {price} + {100*5}"
print(txt)

The price is 59 + 500

In [103]:
txt = "This is a \"Software\" Book"
print(txt)

This is a "Software" Book

In [104]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [105]:
print (10>9)

True

In [106]:
bool("abc")
bool({})
bool(["apple", "cherry", "banana"])

True

In [107]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [108]:
def my_func():
    return False
print(my_func())

False

In [109]:
x = 200
print(isinstance(x, str))

False

In [110]:
print(2 ** 8) 
# Power

256

In [111]:
mylist = ["India","aMERICA","Japan","Pakistan"]
print(mylist)

['India', 'aMERICA', 'Japan', 'Pakistan']

In [112]:
print(mylist[-1])

Pakistan

In [113]:
mylist = ["India","aMERICA","Japan","Pakistan"]
if "Japan" in mylist:
    print("Available Sir!")

Available Sir!

In [114]:
list = ["India","aMERICA","Japan","Pakistan"]
list[2] = "Palestine"
print(list)

['India', 'aMERICA', 'Palestine', 'Pakistan']

In [115]:
list = ["India","aMERICA","Japan","Pakistan"]
list.insert(-3,"Palestime")
print(list)

['India', 'Palestime', 'aMERICA', 'Japan', 'Pakistan']

In [116]:
thislist = ["apple", "banana", "cherry"]
Mark = ["mango", "pineapple", "papaya"]
thislist.extend(Mark)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [117]:
list = ["India","aMERICA","Japan","Pakistan","Japan","America"]
list.remove("Japan")
print(list)

['India', 'aMERICA', 'Pakistan', 'Japan', 'America']

In [118]:
list = ["India","aMERICA","Japan","Pakistan","Japan","America"]
list.pop()
print(list)

['India', 'aMERICA', 'Japan', 'Pakistan', 'Japan']

In [119]:
list = ["India","aMERICA","Japan","Pakistan","Japan","America"]
del list
print(list)

<class 'list'>

In [120]:
list = ["India","aMERICA","Japan","Pakistan","Japan","America"]
list.clear()
print(list)

[]

In [121]:
list = ["India","aMERICA","Japan","Pakistan","Japan","America"]
for x in list:
    print(x)

India
aMERICA
Japan
Pakistan
Japan
America

In [122]:
list = ["India","aMERICA","Japan","Pakistan","Japan","America"]     #ForLoop
for x in range(len(list)):
    print(list[x])

India
aMERICA
Japan
Pakistan
Japan
America

In [123]:
list = ["Haider","RAFAY","Shaheer","Shahzaib"]  #While LOOP
i = 0
while i < len(list):
 print(list[i])
 i= i+1

Haider
RAFAY
Shaheer
Shahzaib

In [124]:
list = ["Haider","RAFAY","Shaheer","Shahzaib"]
[print(x) for x in list]

Haider
RAFAY
Shaheer
Shahzaib

[None, None, None, None]

In [125]:
list = ["Haider","RAFAY","Shaheer","Shahzaib"]
newlist = []

for x in list:
    if "F" in x:
        newlist.append(x)
print(newlist)
# Only Prints Words having F in it

['RAFAY']

In [126]:
# newlist = [for x in x range(10) if x > 5]
list = ["Haider","RAFAY","Shaheer","Shahzaib"]
# newlist = [x.upper() for x in list ]
newlist = ['hello' for x in list]
print(newlist)

['hello', 'hello', 'hello', 'hello']

In [127]:
list = [50,45,34,23,12,45,76,87,34]            #Sorting the List
list.sort(reverse = True)           # (reverse = True)
print(list)

[87, 76, 50, 45, 45, 34, 34, 23, 12]

In [128]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [129]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [130]:
x = []
x = mylist
print(x)

['apple', 'banana', 'cherry']

In [131]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

# Also Used that
# thislist = ["apple", "banana", "cherry"]
# mylist = thislist[:]
# print(mylist)

['apple', 'banana', 'cherry']

In [132]:
list1 = ["Sweet","Orange","Cat","Banana"]
list2 = [43,23,34,45]

for x in list2:
    list1.append(x)

print(list1)

['Sweet', 'Orange', 'Cat', 'Banana', 43, 23, 34, 45]

In [133]:
xx = ("Sweet","Orange","Cat","Banana")
print(xx)

('Sweet', 'Orange', 'Cat', 'Banana')

In [134]:
thistuple = ("apple", "banana", "cherry" , "Physics", "Taple")
print(len(thistuple))

5

In [135]:
tuple1 = ("abc", 34, True, 40, "male")
print(len(tuple1))

5

In [136]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [137]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [138]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [139]:
thistuple = ("Twitter","Install", "Physics")
print(thistuple[2])

Physics

In [140]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [141]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [142]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [161]:
xy = ("Twitter","star","indian")   #Unpacking a Tuple
(pak,india,xx) = xy
print (pak,india,xx)

Twitter star indian

In [164]:
xy = ("Twitter","star","indian")   #Loop a Tuple
for x in xy:
    print(xy)

('Twitter', 'star', 'indian')
('Twitter', 'star', 'indian')
('Twitter', 'star', 'indian')

In [168]:
#Loop Through the Index Numbers
xy = ("Twitter","star","indian")
for x in range(len(xy)):
    print(xy)

('Twitter', 'star', 'indian')
('Twitter', 'star', 'indian')
('Twitter', 'star', 'indian')

In [175]:
xy = (3,43,2,21,543,6,5,74,5,8,9,4,39,9,9,9,4) #count in Python
y = xy.count(9)
print(y)

4

In [9]:
xyz = {"Twitter","star","indian","star",0,1}
print(xyz)

{0, 'indian', 1, 'Twitter', 'star'}

In [17]:
#Finds out Not Available
xyz = {"Twitter","star",True,False,0,1,"star"}
print("star" not in xyz)

False

In [32]:
xyz1 = {"Twitter","star","star"}
xyz2 = {"Twitter","stari","Askar"}
# xyz1.union(xyz2)
# # xyz1.update(xyz2)
# xyz3 = xyz1.intersection(xyz2)
xyz3 = xyz1.difference(xyz2)
print(xyz3)

{'star'}

Python Dictionaries

In [33]:
dd = {"elon":"Twitter","Mark":"facebook","Larry":"Google"}
print(dd)

{'elon': 'Twitter', 'Mark': 'facebook', 'Larry': 'Google'}

In [41]:
dd = {"elon":"Twitter","Mark":"facebook","Larry":["Google","America","Physics"]}
print(dd["Mark"])
print(dd["Larry"])
print(len(dd))

facebook
['Google', 'America', 'Physics']
3

In [51]:
x = dd.get("elon")
print(x)
x =dd.values()
print(x)

Twitter
dict_values(['Twitter', 'facebook', ['Google', 'America', 'Physics']])

In [61]:
#Add Something into the Dictionary
dd = {"elon":"Twitter","Mark":"facebook","Larry":["Google","America","Physics"]}
x = dd.items()
print(x)
dd["jeff"] = "Amazon"
print(x)
print(dd)

dict_items([('elon', 'Twitter'), ('Mark', 'facebook'), ('Larry', ['Google', 'America', 'Physics'])])
dict_items([('elon', 'Twitter'), ('Mark', 'facebook'), ('Larry', ['Google', 'America', 'Physics']), ('jeff', 'Amazon')])
{'elon': 'Twitter', 'Mark': 'facebook', 'Larry': ['Google', 'America', 'Physics'], 'jeff': 'Amazon'}

In [70]:
#Update the Dictionary Values
dd = {"elon":"Twitter","Mark":"facebook","Larry":["Google","America","Physics"]}
# dd["Mark"] = "India"
dd.update({"Mark":"Indian"})
print(dd)

{'elon': 'Twitter', 'Mark': 'Indian', 'Larry': ['Google', 'America', 'Physics']}

In [83]:
ddx = {"elon":"Twitter","Mark":"facebook","Larry":1997}
print(ddx)
del ddx["Mark"]
print(ddx)

{'elon': 'Twitter', 'Mark': 'facebook', 'Larry': 1997}
{'elon': 'Twitter', 'Larry': 1997}

In [91]:
ddx = {"elon":"Twitter","Mark":"facebook","Larry":1997}
for x in ddx.values():
    print(ddx)

{'elon': 'Twitter', 'Mark': 'facebook', 'Larry': 1997}
{'elon': 'Twitter', 'Mark': 'facebook', 'Larry': 1997}
{'elon': 'Twitter', 'Mark': 'facebook', 'Larry': 1997}

In [102]:
ddx = { "Child1": {"elon":"Twitter","Mark":"facebook"},
       "Child2": {"elon":"Twitter","Mark":1957}}
print(ddx)
print(ddx["Child2"]["Mark"])

# print(myfamily["child2"]["name"])

{'Child1': {'elon': 'Twitter', 'Mark': 'facebook'}, 'Child2': {'elon': 'Twitter', 'Mark': 1957}}
1957

In [116]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [130]:
# x = [2,3,5,6,4,3]
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [144]:
dp = ["Milk","Mango","Orange"]
for x in dp:
    print(x)
    if x == "Mango":
      break

# fruits = ["apple", "banana", "cherry"]
# for x in fruits:
#   print(x)
#   if x == "banana":
#     break

Milk
Mango

In [147]:
#with difference of 2 in each value from 2-15
for x in range (2,15,2):
    print(x)

2
4
6
8
10
12
14

In [2]:
dp = ["Milk","Mango","Orange"]
dpx = ["Jeff Bezos","Musk","Mark"]
for x in dp:
    for y in dpx:
        print(x,y)

Milk Jeff Bezos
Milk Musk
Milk Mark
Mango Jeff Bezos
Mango Musk
Mango Mark
Orange Jeff Bezos
Orange Musk
Orange Mark

In [167]:
for x in [0, 1, 2]:
  pass

In [4]:
#Function Made
def helloworld():
    print("Zaibi Noob")

helloworld()

Zaibi Noob

In [12]:
#Pass the Arguments to Functions
def ustad(wx):
    print(wx + " Thanks")

ustad("Naveed")
ustad("indian")
ustad("Pakistan")

Naveed Thanks
indian Thanks
Pakistan Thanks

In [18]:
#If Arguments Unknown
def ustad(*wx):
    print("This is " + wx[1])

ustad ("Naveed","Anjum","Masood")

This is Anjum

In [21]:
# key = value Arguments to be send
def ustad(c1,c2,c3):
    print("This is " + c3)

ustad (c1 = "Naveed",c2 = "Anjum", c3 = "Masood")

This is Masood

In [25]:
# If Known Keyword Arguments use -> **kwargs
def ustad(**wwx):
    print("This is " + wwx["c1"])

ustad (c1 = "Naveed",c2 = "Anjum", c3 = "Masood")

This is Naveed

In [27]:
# Default Parameter Value
def myking ( style= "Phy"):
    print("This is " + style )

myking("Naveed")
myking("kass")
myking()
myking("asa")

This is Naveed
This is kass
This is Phy
This is asa

In [10]:
# //Only Keyword Argument
def my_func(*,x):
    print(x)

my_func(x = "queen")

queen

In [8]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx

In [12]:
#Even or Odd Numbers
Num = 59
if Num % 2 == 0:    # If the number divided by 2 has no remainder, it's Even
    print("Even")
else:
    print("Odd")

Odd

In [2]:
#Largest 3 Numbers 
Num1 = int(input("Enter 1 Number"))
Num2 = int(input("Enter 12 Number"))
Num3 = int(input("Enter 3 Number"))

if Num1>=Num2 and Num1>=Num3:
    print("Largest", Num 1)
elif Num2>=Num1 and Num2>=Num3:
    print("Largest", Num 2)
else:
    print("Largest", Num 3)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2461902548.py, line 7)

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

LISTS >>>>>>>>>>>>>>>>>>>>>>>>>>>> 😁